.academic{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-course{
    max-width: 15rem;
}

.academic__courses{
    display: flex;
    justify-content: center;
    justify-items: center;
    ;
}

.academic__title{
    text-align: center;
}

@media screen and (max-width:425px) {
    .academic__courses{
        display: flex;
        flex-wrap: wrap;
    }
}