.title{
    padding: 1rem 1rem 2.5rem 2.5rem;
}

.title__div{
    display: flex;
}

.title__container{
    flex-direction: column;
}

.title__profile{
    max-width: 15.4rem;
    max-height: 15rem;
    border-radius: 90%;
    margin: 0 0 0 8rem;
}

.title__network{
    display: flex;
    gap: 1.5rem;

}

@media screen and (min-width:320px) {
    .menu{
        display: flex;
        justify-content: space-around;
    }
} 
    


@media screen and (min-width: 1024px) {
    .title__div{
        display: flex;
        justify-content: center;
    }

}